<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orderman - Головна</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Ласкаво просимо до Orderman!</h1>
        <img src="https://img.freepik.com/free-photo/top-view-delicious-food-with-copy-space_23-2150873988.jpg" alt="Піцерія" class="pizzeria-photo">
        <a href="/menu" class="menu-link">МЕНЮ</a>
    </div>
</body>
</html>
