<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orderman - Меню</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Меню</h1>
        <table>
            <tr>
                <th>Назва піци</th>
                <th>Опис інгредієнтів</th>
                <th>Ціна</th>
            </tr>
            {% for pizza in pizzas %}
            <tr>
                <td>{{ pizza.name }}</td>
                <td>{{ pizza.ingredients }}</td>
                <td>{{ pizza.price }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
